.content-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px 20px;
}

.graph-container {
    padding-left: 25px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 400px;
    background-color: var(--gray-color);
}


@media screen and (max-width: 1100px) {
    .content-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    .arr_container {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .graph-container {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}